*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    height: 100%;
}
body{
    height: 100%;
    width: 100%;
    max-width: 192rem ;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* header start */
.site-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-logo {
    width: 12.2rem;
    height: 2.5rem;


}
.header-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem ;
}

.header-link {
 display: inline-block;
 font-size: 1.6rem;
 line-height: 2.4rem;
 color: #000;

}
.header-btn {
    padding-top: 1rem;
    padding-left: 4.3rem;
    width: 17.3rem;
    height: 5.2rem;
    display: inline-block;
    font-size: 1.6rem;
    line-height: 2.4rem;
    border: 1px solid  white;
    border-radius: 3.1rem ;
    background-color: #F58A071A;
    color:  #F58A07 ;
}
/* header end */




/* main start */



/* main end */










/* footer start */


.footer{
    width: 192rem;
    height: 46.3rem;
    background-color: #063255;
    background-image: url('../images/Shape\ Left.png'), url('../images/Shape\ Right.png');
    background-repeat: no-repeat;
    background-position: left bottom, right ;
  
}
.footer-top {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5rem ;
    padding-bottom: 5rem;
}
.footer-top-left {
   display: flex;
   flex-direction: column;

}
.footer-logo {
    width: 12.2rem;
    height: 2.5rem; 
    margin-bottom: 4rem;
}
.footer-left-content {
    font-size: 3.6rem;
    color: white;
    letter-spacing: -3%;
    margin-bottom: 3rem;
}
.footer-list {
    display: flex;
    gap: 5rem ;
    
}

.icons {
    height: 2rem;
    width: 2.1rem;
}
.footer-top-middle {
    width: 9.2rem;
    height: 19.5rem;
}
.footer-middle-content {
    width: 9.2rem;
    height: 2.7rem;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: white;
    margin-bottom: 2rem;
}
.footer-middle-list {
    font-size: 1.6rem;
    line-height: 2.7rem;
    
}


.middle-list-links {
    color: white;
}
.footer-top-right-middle {
    width: 14.2rem;
    height: 19.5rem;
}
.footer-top-right-middle-content {
    width: 14.2rem;
    height: 2.7rem;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: white;
    margin-bottom: 2rem;
}
.right-middle-address {
    width: 14.2rem;
    height: 2.4rem;
    font-size: 1.6rem ;
    line-height: 2.4rem;
    width: 9.2rem;
    height: 2.7rem;
    font-size: 1.8rem;
    line-height: 2.7rem;
    
}
.right-middle-link {
    width: 14.2rem;
    height: 2.7rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: white;
}
.footer-top-right {
    width: 34.2rem;
    height: 19.2rem;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: white;
}
.footer-top-right-content {
    margin-bottom: 2rem;
}
label{
    display: block;
}

.footer-input{
    width: 34.2rem;
    height: 5.4rem;
    border-radius: 3.1rem;
    text-align: left;
    padding-left: 2rem;
    font-size: 1.6rem ;
    margin-bottom: 1rem;
}
.footer-button{
    width: 15.6rem;
    height: 5.4rem;
    border: 1px solid #F58A07 ;
    border-radius: 3.1rem;
    background-color: #F58A07;
    color: white;
    font-size: 1.8rem;
    line-height: 1.9rem;
}
.footer-bootom {
    width: 180rem;
    height: 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10rem ;
    font-size: 1.6rem ;
    color: white;
    
}

.footer-bottom-list {
    display: flex;
    gap: 3rem;
    font-size: 1.6rem;
    
}

.bottom-link {
    color: white;
}



/* footer end  */
